.env
.venv
chroma_db/
parent_docs_data/
*_migrated.tsx
.idea
__pycache__/
.langchain_cache/
.pytest_cache/
terraform/terraform.tfvars
terraform/terraform.prod.tfvars
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/*.prod.tfvars