.env
.venv
api/chroma_db
chroma_db/
api/data/
*_migrated.tsx
.idea
__pycache__/
.langchain_cache/
.pytest_cache/
terraform/terraform.tfvars
terraform/terraform.prod.tfvars
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/*.prod.tfvars
data/react_19_docs.txt